.div_article_line {
  display: flex;
}

article .div_article_line {
  margin-bottom: 20px;
}

article .div_article_line:last-of-type {
  margin-bottom: 0px;
}

.article_title {
  float: left;

  min-width: 400px;
  width: 400px;

  margin-right: 60px;
}

.article_title > h2,
.article_title > h3,
.article_title > p,
.article_value > p {
  margin: 0;
}

.article_title > p,
.article_value > p {
  margin-bottom: 20px;
}

.article_value > p:last-of-type {
  margin-bottom: 0;
}

.article_value {
  width: 100%;
}

.article_value div {
  min-width: 100%;
}

.article_value div div {
  float: left;
  min-width: 33%;
}

.article_value div div p {
  width: 100%;
  margin: 0;
}

.work_info,
.edu_info {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
}

.edu_info:first-of-type {
  padding-top: 0;
}

.working_position,
.working_period,
.edu_position,
.edu_period {
  margin: 0;
}

.contribution .header {
  margin: 20px 0px;
}

.points,
.point {
  margin: 0;
  margin-bottom: 10px;
}

.points:last-of-type,
.point:last-of-type {
  margin-bottom: 0;
}

.info {
  margin: 0;
  margin-top: 20px;
}

.ul_skills,
.ul_skills > li {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.ul_skills {
  padding-left: 40px;
  column-count: 3;
}
