a:link,
a:visited,
a:hover,
a:active {
  color: #eeeeee;

  font-style: normal;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/*  */

.div_header {
  display: flex;

  margin-top: 60px;
  margin-bottom: 60px;
}

.personal_photo,
.header_contacts {
  float: left;
}

.personal_photo {
  box-sizing: border-box;

  width: 500px;
  height: 500px;

  margin-top: auto;
  margin-bottom: auto;

  border: 10px solid #dfc64a;
  border-radius: 325.5px;

  /* background-position: top; */
  /* background-size: 100%; */

  margin-right: 60px;
}

header h1,
header p {
  margin: 0;
}

.div_contacts {
  margin-top: 60px;
}

.div_contacts_first_column {
  float: left;
}

.header_contacts > ul {
  padding: 0;

  margin: 0;
  margin-top: 60px;

  display: flex;
  justify-content: left;
}

.header_contacts > ul > li {
  display: inline;
  list-style: none;

  margin: 0;
}

.contact_line {
  display: flex;
  justify-content: left;

  margin-top: 10px;
  margin-right: 10px;
}

.contact_logo {
  display: inline-block;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  margin-right: 10px;

  width: 64px;
  height: 64px;
}

.contact_line > p {
  margin-top: auto;
  margin-bottom: auto;
}

/* .contact_logo,
.contact_text {
  height: 64px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  margin-right: 20px;
  margin-bottom: 20px;
}

.contact_logo {
  width: 64px;
} */
/* 
.div_contacts_first_column a {
  display: block;

  margin-bottom: 20px;
}

.div_contacts_second_column .contact_logo {
  display: inline-block;

  margin-bottom: 20px;
}

.div_contacts_second_column .contact_text {
  display: block;

  margin-bottom: 20px;
} */
