.div_article_line {
  display: flex;
}

article .div_article_line {
  margin-bottom: 20px;
}

article .div_article_line:last-of-type {
  margin-bottom: 20px;
}

.article_title {
  float: left;
  min-width: 500px;
  width: 500px;
  margin-right: 60px;
}

.article_title h2,
.article_title h3 {
  margin: 0;

  font-weight: 700;
  font-size: 48px;
  line-height: 48px;

  text-transform: uppercase;
}

.article_title p {
  margin: 0;
  margin-top: 20px;

  font-weight: 400;
  font-size: 32px;
  line-height: 32px;

  color: #aaaaaa;
}

.article_title h3 {
  font-weight: 400;
}

.article_value {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;

  width: 100%;
}

.article_value > p {
  margin: 0;
  margin-top: 20px;

  word-wrap: break-word;
}

.article_value > p:first-of-type {
  margin-top: 0px;
}

.article_value div {
  min-width: 100%;
}

.article_value div div {
  float: left;
  min-width: 33%;
}

.article_value div div p {
  width: 100%;
  margin: 0;
}

.project_name {
  font-weight: 700;
}

.edu_position {
  margin: 0;
  margin-top: 20px;

  word-wrap: break-word;
}

.work_info,
.edu_info {
  height: 48px;
  margin: 20px 0px;
}

.edu_info:first-of-type {
  margin: 0;
}

.working_position,
.edu_position,
.working_period,
.edu_period {
  line-height: 48px;
  margin: 0;
}

.working_position,
.working_period,
.edu_period {
  color: #aaaaaa;
}

.working_position,
.edu_position {
  float: left;
}

.working_period,
.edu_period {
  float: right;

  font-style: italic;
}

.contribution .header {
  margin: 20px 0px;
}

.bold {
  font-weight: 700;
}

.points {
  margin: 0;
}

.point {
  margin-bottom: 10;
}

.point:last-of-type {
  margin-bottom: 0;
}
